# {{ ansible_managed }}
---
version: "3"

networks:
  backend:
    driver: bridge
  frontend:
    driver: bridge
    name: ha

services:
  ha:
    image: homeassistant/home-assistant:{{ ha_version }}
    container_name: ha
    restart: unless-stopped
    depends_on:
      - zigbee2mqtt
      - mosquitto
    volumes:
      - ./:/config
      - /etc/localtime:/etc/localtime:ro
    expose:
      - 8123
    networks:
      - frontend
      - backend
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ha.entrypoints=http"
      - "traefik.http.routers.ha.rule=Host(`ha.{{ server_domain }}`)"
      - "traefik.http.routers.ha.service=ha"
      - "traefik.http.services.ha.loadbalancer.server.port=8123"

  zigbee2mqtt:
    image: koenkk/zigbee2mqtt
    container_name: zigbee2mqtt
    restart: unless-stopped
    privileged: true
    environment:
      - TZ='{{ ha_timezone }}'
    devices:
      - {{ conbee_path }}:/dev/ttyACM0
    volumes:
      - ./zigbee2mqtt:/app/data
      - /run/udev:/run/udev:ro
    expose:
      - 8080
    networks:
      - frontend
      - backend
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.mqtt.entrypoints=http"
      - "traefik.http.routers.mqtt.rule=Host(`mqtt.{{ server_domain }}`)"
      - "traefik.http.routers.mqtt.service=mqtt"
      - "traefik.http.services.mqtt.loadbalancer.server.port=8080"
    
  mosquitto:
    image: eclipse-mosquitto:2.0
    container_name: mosquitto
    restart: unless-stopped
    volumes:
      - ./mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf
    expose:
      - 1883
      - 9001
    networks:
      - backend
