# {{ ansible_managed }}
---
version: "3"

networks:
  default:
    driver: bridge
    name: pantry

services:
  grocy:
    image: linuxserver/grocy:{{ pantry_manager_version }}
    container_name: grocy
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ='{{ pantry_manager_timezone }}'
    volumes:
      - ./grocy:/config
    expose:
      - 80
    networks:
      - default
    labels:
      - "traefik.enable={{ reverse_proxy_enable }}"
      - "traefik.port=80"
      - "traefik.http.routers.grocy.entrypoints=http"
      - "traefik.http.routers.grocy.rule=Host(`grocy.{{ server_domain }}`)"
