# {{ ansible_managed }}
---
networks:
  default:
    name: pihole

# More info at https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/
services:
  pihole:
    container_name: pihole
    image: pihole/pihole:{{ pihole_version }}
    hostname: '{{ pihole_hostname }}'
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "67:67/udp"
    expose:
      - "80/tcp"
      - "443/tcp"
    dns:
      - 127.0.0.1
      - 1.1.1.1
    environment:
      TZ: '{{ pihole_timezone }}'
      WEBPASSWORD: '{{ pihole_password }}'
      VIRTUAL_HOST: '{{ pihole_virtual_host }}'
      TEMPERATUREUNIT: '{{ pihole_temperature_unit }}'
      PIHOLE_DOMAIN: '{{ pihole_domain }}'
      PIHOLE_DNS_: '{{ pihole_dns }}'
      DHCP_ACTIVE: '{{ pihole_dhcp_active }}'
      DHCP_START: '{{ pihole_dhcp_start }}'
      DHCP_END: '{{ pihole_dhcp_end }}'
      DHCP_ROUTER: '{{ pihole_dhcp_router }}'
      DHCP_LEASETIME: '{{ pihole_dhcp_leasetime }}'
      DHCP_rapid_commit: '{{ pihole_dhcp_rapid_commit }}'
      DNSMASQ_LISTENING: '{{ pihole_dnsmasq_listening }}'
    volumes:
      - './etc-pihole/:/etc/pihole/'
      - './etc-dnsmasq.d/:/etc/dnsmasq.d/'
    cap_add:
      - NET_ADMIN
    networks:
      - default
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pihole.entrypoints=http"
      - "traefik.http.routers.pihole.rule=Host(`{{ pihole_virtual_host }}`)"
      - "traefik.http.routers.pihole.service=pihole"
      - "traefik.http.services.pihole.loadbalancer.server.port=80"
    restart: unless-stopped
