# {{ ansible_managed }}
---
version: "3"

networks:
  frontend:
    driver: bridge

services:
  plex:
    container_name: plex
    image: linuxserver/plex
    restart: always
    environment:
      - PUID=1000
      - PGID=1000
      - VERSION=latest
      - TZ='{{ media_server_timezone }}'
    volumes:
      - ./plex/config:/config
      - ./media/data:/data/media
    networks:
      - frontend
    ports:
      - 32400:32400/tcp
      - 3005:3005/tcp
      - 8324:8324/tcp
      - 32469:32469/tcp
      - 1900:1900/udp
      - 32410:32410/udp
      - 32412:32412/udp
      - 32413:32413/udp
      - 32414:32414/udp

  deluge:
    container_name: deluge
    image: linuxserver/deluge
    restart: always
    environment:
      - PUID=1000
      - PGID=1000
      - TZ='{{ media_server_timezone }}'
    volumes:
      - ./deluge/config:/config
      - ./media/torrents:/data/torrents
    networks:
      - frontend
    ports:
      - 8112:8112
      - 6881:6881
      - 6881:6881/udp

  radarr:
    image: linuxserver/radarr
    container_name: radarr
    restart: always
    environment:
      - PGID=1000
      - PUID=1000
      - TZ='{{ media_server_timezone }}'
    volumes:
      - ./radarr/config:/config
      - ./media:/data
    networks:
      - frontend
    ports:
      - 7878:7878

  sonarr:
    image: linuxserver/sonarr
    container_name: sonarr
    restart: always
    environment:
      - PGID=1000
      - PUID=1000
      - TZ='{{ media_server_timezone }}'
    volumes:
      - ./sonarr/config:/config
      - ./media:/data
    networks:
      - frontend
    ports:
      - 8989:8989

  prowlarr:
    image: linuxserver/prowlarr
    container_name: prowlarr
    restart: always
    environment:
      - PGID=1000
      - PUID=1000
      - TZ='{{ media_server_timezone }}'
    volumes:
      - ./prowlarr/config:/config
    networks:
      - frontend
    ports:
      - 9696:9696
