# {{ ansible_managed }}
---
version: "3"

networks:
  default:
    driver: bridge
    name: media-server

services:
  plex:
    container_name: plex
    image: linuxserver/plex
    restart: always
    environment:
      - PUID=1000
      - PGID=1000
      - VERSION=latest
      - TZ='{{ media_server_timezone }}'
    volumes:
      - ./plex/config:/config
      - ./media/data:/data/media
    networks:
      - default
    ports:
      - 3005:3005/tcp
      - 8324:8324/tcp
      - 32469:32469/tcp
      - 1900:1900/udp
      - 32410:32410/udp
      - 32412:32412/udp
      - 32413:32413/udp
      - 32414:32414/udp
    expose:
      - 32400
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.plex.entrypoints=http"
      - "traefik.http.routers.plex.rule=Host(`plex.{{ server_domain }}`)"
      - "traefik.http.routers.plex.service=plex"
      - "traefik.http.services.plex.loadbalancer.server.port=32400"

  deluge:
    container_name: deluge
    image: linuxserver/deluge
    restart: always
    environment:
      - PUID=1000
      - PGID=1000
      - TZ='{{ media_server_timezone }}'
    volumes:
      - ./deluge/config:/config
      - ./media/torrents:/data/torrents
    networks:
      - default
    ports:
      - 6881:6881
      - 6881:6881/udp
    expose:
      - 8112
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.deluge.entrypoints=http"
      - "traefik.http.routers.deluge.rule=Host(`deluge.{{ server_domain }}`)"
      - "traefik.http.routers.deluge.service=deluge"
      - "traefik.http.services.deluge.loadbalancer.server.port=8112"

  radarr:
    image: linuxserver/radarr
    container_name: radarr
    restart: always
    environment:
      - PGID=1000
      - PUID=1000
      - TZ='{{ media_server_timezone }}'
    volumes:
      - ./radarr/config:/config
      - ./media:/data
    networks:
      - default
    expose:
      - 7878
    labels:
      - "traefik.enable=true"
      - "traefik.port=7878"
      - "traefik.http.routers.radarr.entrypoints=http"
      - "traefik.http.routers.radarr.rule=Host(`radarr.{{ server_domain }}`)"

  sonarr:
    image: linuxserver/sonarr
    container_name: sonarr
    restart: always
    environment:
      - PGID=1000
      - PUID=1000
      - TZ='{{ media_server_timezone }}'
    volumes:
      - ./sonarr/config:/config
      - ./media:/data
    networks:
      - default
    expose:
      - 8989
    labels:
      - "traefik.enable=true"
      - "traefik.port=8989"
      - "traefik.http.routers.sonarr.entrypoints=http"
      - "traefik.http.routers.sonarr.rule=Host(`sonarr.{{ server_domain }}`)"

  prowlarr:
    image: linuxserver/prowlarr
    container_name: prowlarr
    restart: always
    environment:
      - PGID=1000
      - PUID=1000
      - TZ='{{ media_server_timezone }}'
    volumes:
      - ./prowlarr/config:/config
    networks:
      - default
    expose:
      - 9696
    labels:
      - "traefik.enable=true"
      - "traefik.port=9696"
      - "traefik.http.routers.prowlarr.entrypoints=http"
      - "traefik.http.routers.prowlarr.rule=Host(`prowlarr.{{ server_domain }}`)"
